img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border: 5px solid #555;
}

.selected {
  border-width: 5px;
  border-color: green;
}

.unselected {
  border-width: 5px;
  border-color: red;
}

#wrapper {
  padding: 10px;
}

#left {
  width: 80%;
  background: grey;
  height: 100%;
  float: left;
}

#right {
  width: 20%;
  height: 100%;
  float: right;
  background: blue;
}

#choose_sentence_result {
  font-size: x-large;
  font-weight: bolder;
}

#image {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  min-height: 200px;
}
