img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  border: 5px solid #555;
}

.selected {
  border-width: 5px;
  border-color: green;
}

.unselected {
  border-width: 5px;
  border-color: red;
}

#wrapper {
  padding: 10px;
}

#left {
  width: 80%;
  background: grey;
  height: 100%;
  float: left;
}

#right {
  width: 20%;
  height: 100%;
  float: right;
  background: blue;
}

#choose_sentence_result {
  font-size: x-large;
  font-weight: bolder;
}
