<!DOCTYPE html>

<head>
  <title>Foreign Language Companion</title>
  <script
    src="{{ url_for('static', filename='js/index.js') }}"
    type="text/javascript"
    defer
  ></script>
  <script
    src="{{ url_for('static', filename='js/sentences.js') }}"
    type="text/javascript"
    defer
  ></script>
  <script
    src="{{ url_for('static', filename='js/paste.js') }}"
    type="text/javascript"
    defer
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/main.css') }}"
    type="text/css"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/sentences.css') }}"
    type="text/css"
  />
</head>

<body>
  <a href="/">Back</a>
  <div id="thread_status"></div>
  <div id="definition" data-definition="{{definition}}"></div>
  <label>Deck:</label>
  <select id="deck">
    {% for d in decks%}
    <option value="{{d}}">{{d}}</option>
    {% endfor %}
  </select>
  <br />
  <label for="target">Target language:</label>
  <select id="target">
    {% for e in lang_code%}
    <option value="{{e['code']}}">{{e['name']}}</option>
    {% endfor %}
  </select>
  <br />
  <label for="sentence">Sentence</label>
  <textarea
    class="input_audio input_image"
    id="input_sentence"
    type="text"
    value="{{example}}"
  ></textarea>
  <br />
  <button onclick="displaySentence()" id="display_sentence">
    Process sentence
  </button>

  <!-- The sentence is displayed here and this is where the user should select the sentence -->
  <div id="choose_sentence_result"></div>

  <!-- Describes what to do for the user and contains the select button -->
  <div id="choose_sentence_description">
    Select part of the sentence and click Select
    <button onclick="selectSentence()" id="select_sentence">Select</button>
    <br />
    <div id="selected_part_of_sentence"></div>
  </div>

  <!-- This part contain various input for the cards such as recordings, images, and extra field -->
  <div id="select_sentence_result">
    <label>Definition, base word, etc. </label><br />
    <input type="text" id="front" /><br />
    <label for="2card">Add 2 cards?</label>
    <input type="checkbox" /><br />

    {% include 'recording.html' %}
    <br />
    <button
      class="btn btn-primary"
      id="search-submit"
      name="search-submit"
      type="button"
      value="Submit"
      onclick="add_sentences()"
    >
      Add
    </button>
    <button onclick="clearAll()">Reset</button>
    <br />
    {% include 'image.html' %}
  </div>
</body>
