<!doctype html>

<head>
  <title>Foreign Language Companion</title>
  <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
</head>

<body>

  <form novalidate>
    <input id="word_src" placeholder="Write the word here" />
    <br>
    <button class="btn btn-primary" id="search-submit" name="search-submit" type="button" value="Submit"
      onclick="translate()">
      Translate
    </button>
  </form>
  <div class="form_container" id="result_translate"></div>
  <div class="form_container" id="result_search"></div>
</body>