<!DOCTYPE html>

<head>
  <title>Foreign Language Companion</title>
  <script
    src="{{ url_for('static', filename='js/index.js') }}"
    type="text/javascript"
    defer
  ></script>
  <script
    src="{{ url_for('static', filename='js/paste.js') }}"
    type="text/javascript"
    defer
  ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/main.css') }}"
    type="text/css"
  />
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/noel.gif') }}"
  />
</head>

<body>
  <a href="/">Back</a>
  <div id="wrapper">
    <div id="thread_status"></div>
    <div id="left">
      <select id="word_list">
        {% for e in word_list%}
        <option value="{{e}}">{{e}}</option>
        {% endfor %}
      </select>
      <br />
      <button
        class="btn btn-primary"
        id="search-submit"
        name="search-submit"
        type="button"
        value="Submit"
        onclick="word_list()"
      >
        Load word list
      </button>
      <div id="result_word_list"></div>
    </div>
    <div id="right">
      <form novalidate>
        <label>Deck:</label>
        <select id="deck">
          {% for d in decks%}
          <option value="{{d}}">{{d}}</option>
          {% endfor %}
        </select>
        <br />
        <label for="target">Target language:</label>
        <select id="target">
          {% for e in lang_code%}
          <option value="{{e['code']}}">{{e['name']}}</option>
          {% endfor %}
        </select>
        <br />
        <label>Word (in English)</label>
        <input id="word_src" placeholder="Write the word here" />
        <br />
        <label>Check spelling?</label>
        <input id="spelling" type="checkbox" />
        <br />

        <button
          class="btn btn-primary"
          id="search-submit"
          name="search-submit"
          type="button"
          value="Submit"
          onclick="translate()"
        >
          Translate
        </button>
      </form>
      <div class="form_container" id="result_translate"></div>
      <div class="form_container" id="result_search"></div>
      <div class="form_container" id="result_add"></div>
    </div>
  </div>
</body>
